.SearchBox {
   text-align: center;
   margin-bottom: 30px;
   background: rgba(248, 247, 247, 0.8);
   padding: 20px;
   border-radius: 15px;
   display: inline-block;
}

.SearchBox form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}